<div class="card">
  <div class="row">
    <div class="tree list-overflow">
      <ul>
        <li>
          <a href="#" class="profile-card">
            <img
              src="assets/img/avatar/dummy-image.jpg"
              alt="MD"
              class="profile-image"
            />
            <div class="profile-details">
              <h3 class="profile-name">MD</h3>
              <p class="profile-designation">Managing Director</p>
            </div>
          </a>
          <ul>
            <li>
              <a href="#" class="profile-card">
                <img
                  src="assets/img/avatar/dummy-image.jpg"
                  alt="CEO"
                  class="profile-image"
                />
                <div class="profile-details">
                  <h3 class="profile-name">CEO</h3>
                  <p class="profile-designation">Chief Executive Officer</p>
                </div>
              </a>
              <ul>
                <li>
                  <a href="#" class="profile-card">
                    <img
                      src="assets/img/avatar/dummy-image.jpg"
                      alt="CFO"
                      class="profile-image"
                    />
                    <div class="profile-details">
                      <h3 class="profile-name">CFO</h3>
                      <p class="profile-designation">Chief Financial Officer</p>
                    </div>
                  </a>
                  <ul>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Finance Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">Finance Manager</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Accounting Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">Accounting Manager</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Treasury Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">Treasury Manager</h3>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="profile-card">
                    <img
                      src="assets/img/avatar/dummy-image.jpg"
                      alt="CTO"
                      class="profile-image"
                    />
                    <div class="profile-details">
                      <h3 class="profile-name">CTO</h3>
                      <p class="profile-designation">
                        Chief Technology Officer
                      </p>
                    </div>
                  </a>
                  <ul>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="VP of Engineering"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">VP of Engineering</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="IT Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">IT Manager</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="R&D Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">R&D Manager</h3>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="profile-card">
                    <img
                      src="assets/img/avatar/dummy-image.jpg"
                      alt="CHRO"
                      class="profile-image"
                    />
                    <div class="profile-details">
                      <h3 class="profile-name">CHRO</h3>
                      <p class="profile-designation">
                        Chief Human Resources Officer
                      </p>
                    </div>
                  </a>
                  <ul>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="HR Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">HR Manager</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Talent Acquisition Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">
                            Talent Acquisition Manager
                          </h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Employee Relations Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">
                            Employee Relations Manager
                          </h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Training and Development Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">
                            Training and Development Manager
                          </h3>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="profile-card">
                    <img
                      src="assets/img/avatar/dummy-image.jpg"
                      alt="COO"
                      class="profile-image"
                    />
                    <div class="profile-details">
                      <h3 class="profile-name">COO</h3>
                      <p class="profile-designation">Chief Operating Officer</p>
                    </div>
                  </a>
                  <ul>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Operations Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">Operations Manager</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Supply Chain Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">Supply Chain Manager</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Manufacturing Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">Manufacturing Manager</h3>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="profile-card">
                        <img
                          src="assets/img/avatar/dummy-image.jpg"
                          alt="Customer Service Manager"
                          class="profile-image"
                        />
                        <div class="profile-details">
                          <h3 class="profile-name">Customer Service Manager</h3>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
