.bg-color {
  background: #fff;
}

.fa-arrow-right {
  color: #99a5b5;
}

.fa-star {
  color: #ffd600;
}

.fa-calendar-week {
  color: #11c830;
}

.fa-star-half-alt {
  color: #0093ff;
}

.fa-exclamation-circle {
  color: #ffb100;
}

.fa-plane-departure {
  color: #cf82ee;
}
