.modal-subHeading {
  padding: 0 24px 9px;
}

.copy-content {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
}

.invite-lock {
  text-align: end;
  margin-top: 25px;
}
