<div class="main-wrapper">
  <div class="account-content">
    <!-- Account Logo -->
    <div class="account-logo">
      <a [routerLink]="routes.adminDashboard"
        ><img src="assets/img/logos/image.png" alt="Dreams Technologies"
      /></a>
    </div>
    <div class="account-box">
      <div class="account-wrapper">
        <h3 class="account-title">Change Password</h3>
        <form [formGroup]="changePasswordForm">
          <div class="input-block mb-3">
            <label class="col-form-label" for="">Old password</label>
            <div class="position-relative">
              <input
                [ngClass]="{
                  hasError:
                    (isSubmitted && c['oldPassword'].invalid) ||
                    (c['oldPassword'].invalid &&
                      (c['oldPassword'].dirty || c['oldPassword'].touched))
                }"
                class="form-control"
                placeholder="Enter Old Password"
                [type]="password[0] ? 'text' : 'password'"
                formControlName="oldPassword"
                id="password"
              />
              <span
                class="fa-solid"
                [ngClass]="password[0] ? 'fa-eye' : 'fa-eye-slash'"
                (click)="togglePassword(0)"
                id="toggle-password"
              ></span>
            </div>
            @if( (isSubmitted && c['oldPassword'].invalid) ||
            (c['oldPassword'].invalid && (c['oldPassword'].dirty ||
            c['oldPassword'].touched))){

            <div class="text-danger">
              @if(c['oldPassword'].hasError('required')){

              <small>{{ "old Password" | titlecase }} is required.</small>
              } @if(c['oldPassword'].errors?.['invalidPassword']){
              <small>
                Password must include at least one lowercase letter, one
                uppercase letter, one number, and one special character, and be
                between 8 to 12 characters long.
              </small>
              }
            </div>
            }
          </div>
          <div class="input-block mb-3">
            <label class="col-form-label" for="">New password</label>
            <div class="position-relative">
              <input
                [ngClass]="{
                  hasError:
                    (isSubmitted &&
                      changePasswordForm.get('newPassword')?.invalid) ||
                    (c['newPassword'].invalid &&
                      (c['newPassword'].dirty || c['newPassword'].touched))
                }"
                class="form-control"
                placeholder="Enter Password"
                [type]="password[1] ? 'text' : 'password'"
                formControlName="newPassword"
                id="password"
              />
              <span
                class="fa-solid"
                [ngClass]="password[1] ? 'fa-eye' : 'fa-eye-slash'"
                (click)="togglePassword(1)"
                id="toggle-password"
              ></span>
            </div>
            @if( (isSubmitted && c['newPassword'].invalid) ||
            (c['newPassword'].invalid && (c['newPassword'].dirty ||
            c['newPassword'].touched))){
            <div class="text-danger">
              @if(c['newPassword'].hasError('required')){
              <small>{{ "new Password" | titlecase }} is required.</small>
              } @if(c['newPassword'].errors?.['invalidPassword']){
              <small>
                Password must include at least one lowercase letter, one
                uppercase letter, one number, and one special character, and be
                between 8 to 12 characters long.
              </small>
              }
            </div>
            }
          </div>
          <div class="input-block mb-3">
            <label class="col-form-label" for="">Confirm password</label>
            <div class="position-relative">
              <input
                [ngClass]="{
                  hasError:
                    (isSubmitted &&
                      changePasswordForm.get('confirmPassword')?.invalid) ||
                    (c['confirmPassword'].invalid &&
                      (c['confirmPassword'].dirty ||
                        c['confirmPassword'].touched))
                }"
                class="form-control"
                placeholder="Enter Password"
                [type]="password[2] ? 'text' : 'password'"
                formControlName="confirmPassword"
                id="password"
              />
              <span
                class="fa-solid"
                [ngClass]="password[2] ? 'fa-eye' : 'fa-eye-slash'"
                (click)="togglePassword(2)"
                id="toggle-password"
              ></span>
            </div>
            @if((isSubmitted &&
            changePasswordForm.get('confirmPassword')?.invalid) ||
            (c['confirmPassword'].invalid && (c['confirmPassword'].dirty ||
            c['confirmPassword'].touched))){
            <div class="text-danger">
              @if(c['confirmPassword'].hasError('required')){
              <small>{{ "confirm Password" | titlecase }} is required.</small>
              } @if(c['confirmPassword'].errors?.['invalidPassword']){
              <small>
                Password must include at least one lowercase letter, one
                uppercase letter, one number, and one special character, and be
                between 8 to 12 characters long.
              </small>
              }
            </div>
            }
          </div>
          <div class="submit-section mb-4">
            <button
              class="btn btn-primary submit-btn"
              (click)="changePassword()"
            >
              Update Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
