<div class="main-wrapper">
  <div class="account-content">
    <div class="container">
      <!-- Account Logo -->
      <div class="account-logo">
        <a [routerLink]="routes.adminDashboard"
          ><img src="assets/img/logos/image.png" alt="Dreams Technologies"
        /></a>
      </div>
      <!-- /Account Logo -->

      <div class="account-box">
        <div class="account-wrapper">
          <h3 class="account-title">Forgot Password?</h3>
          <p class="account-subtitle">
            Enter your email to get a password reset link
          </p>

          <!-- Account Form -->
          <form [formGroup]="resetForm">
            <div class="input-block mb-4">
              <label class="col-form-label">Email Address</label>
              <input
                [ngClass]="{
                  hasError:
                    (isSubmitted && c['email'].invalid) ||
                    (c['email'].invalid &&
                      (c['email'].dirty || c['email'].touched))
                }"
                class="form-control"
                placeholder="Enter Email"
                type="email"
                formControlName="email"
              />
              @if((isSubmitted && c['email'].invalid) || (c['email'].invalid &&
              (c['email'].dirty || c['email'].touched))){
              <div class="text-danger">
                @if(c['email'].hasError('required')){
                <small>{{ "email" | titlecase }} is required.</small>
                } @if(c['email'].hasError('email')){
                <small>Please enter valid email address.</small>
                }
              </div>
              }
            </div>
            <div class="input-block mb-4 text-center">
              <button
                class="btn btn-primary account-btn"
                type="submit"
                (click)="reset()"
              >
                Reset Password
              </button>
            </div>
            <div class="account-footer">
              <p>
                Remember your password? <a [routerLink]="routes.login">Login</a>
              </p>
            </div>
          </form>
          <!-- /Account Form -->
        </div>
      </div>
    </div>
  </div>
</div>
